* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

.box-container-partfolio {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  text-decoration: none;
}

.line {
  border: 1px solid #ececec;
  margin: 0 auto;
  padding: 0 auto;
}

.header-position {
  position: relative;
}

.link-curent-item {
  color: #2196f3;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo-color {
  color: #2196f3;
}

.site-nav a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.site-nav-contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  letter-spacing: 0.02em;
}

.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}

.button-icon-envelope {
  fill: #757575;
  color: #757575;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon-envelope:hover, .button-icon-envelope:focus {
  fill: #2196f3;
  color: #2196f3;
}

.button-text-contact {
  padding-left: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.button-icon-smartphone {
  fill: #757575;
  color: #757575;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon-smartphone:hover, .button-icon-smartphone:focus {
  fill: #2196f3;
  color: #2196f3;
}

.link-current {
  position: relative;
  color: #2196f3;
}

.link-current::after {
  content: "";
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.menu-button {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  fill: #000000;
}

.menu-button:hover {
  fill: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
  fill: black;
}

.menu-button .icon-close-menu {
  display: none;
}

.page-header .nav-address {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 60px;
  width: 100%;
}

.footer-container {
  background-color: #2f303a;
}

.logo-footer {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.logo-footer:hover {
  color: #2196f3;
}

.logo-footer-color {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-top: 48px;
}

.footer-white-title {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-text-title {
  color: #757575;
  font-size: 14px;
  line-height: 1.8;
}

.social-contact {
  color: #ffffff;
}

.footer-text-title {
  color: #757575;
  font-size: 14px;
  line-height: 1.8;
}

.button-icon-social-footer {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: none;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.button-icon-social-footer:hover, .button-icon-social-footer:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.newsletter {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.newslater-email {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.button-newslater {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  min-width: 130px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.box {
  margin: 0 auto;
}

.flex-button-portfolio {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 611px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button-partfolio {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 73px;
  height: 38px;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
}

.button-partfolio:hover,
.button-partfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.button-second-partfolio {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  min-width: 130px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  border-radius: 4px;
  border: 0;
}

.button-second-partfolio:hover,
button-second-partfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.flex-container-partfolio {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element-partfolio {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element-partfolio:hover, .flex-element-partfolio:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-element-partfolio:nth-child(3n) {
  margin-right: 0;
}

.project-hover-focus:hover .project-text {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project-img {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.project-text-background {
  background-color: #ffffff;
}

.project-text {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  position: absolute;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 65px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 65px;
}

.name-project {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}

.partfolio-text-title {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}
/*# sourceMappingURL=partfolio.css.map */