.footer-container {
  background-color: #2f303a;
}
.logo-footer {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $white-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  &:hover {
    color: $akcent;
  }
}

.logo-footer-color {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $akcent;
  margin-top: 48px;
}

.footer-white-title {
  color: $white-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-text-title {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.8;
}
.social-contact {
  color: $white-text-color;
}
.footer-text-title {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.8;
}
.list-item {
}
.button-icon-social-footer {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  fill: $white-text-color;
  background: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    fill: $white-text-color;
    background-color: $akcent;
  }
}
.newsletter {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
}
.newslater-email {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}
.button-newslater {
  color: $white-text-color;
  background-color: $akcent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  min-width: 130px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.newslater-telegram {
}
