.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)),
    url(/images/Hero/480.jpg);
}

.hero-text {
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 900;
  color: $white-text-color;
}

.button {
  display: inline-block;
  color: $white-text-color;
  background-color: $akcent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  outline: none;
  cursor: pointer;
}

.button-hero-center {
  text-align: center;
}
