.section-title {
  text-align: center;
  color: $primary-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
}
.card-background {
  margin-top: 60px;
  width: 450px;
  height: 622px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(1n) {
    margin-top: 30px;
  }
}
.name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession {
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
.our-team-social {
  display: flex;
  justify-content: center;
}
.item-icon {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.backgound-section-team {
  background: $button-second;
  padding-top: 60px;
  padding-bottom: 60px;
}
.button-icon-social {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  fill: #afb1b8;
  &:hover,
  &:focus {
    fill: $white-text-color;
    background-color: $akcent;
  }
}
