.flex-container {
}
.our-advantages {
}
.button-svg {
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
}
.button-icon {
}
.text-rectange {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.feauteres-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
