.bg-svg1 {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: url(../images/bg.svg), url(../images/1.jpg);
  border-radius: 0px;
  background-repeat: no-repeat;
}
.bg-svg2 {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: url(../images/bg.svg), url(../images/2.jpg);
  border-radius: 0px;
  background-repeat: no-repeat;
}
.bg-svg3 {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: url(../images/bg.svg), url(../images/3.jpg);
  border-radius: 0px;
  background-repeat: no-repeat;
}
.white-text-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
}
