.container {
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
}
.hero {
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.8)),
        to(rgba(47, 48, 58, 0.8))
      ),
      url(/images/Hero/480@2x.jpg);
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 481px),
    screen and (min-resolution: 192dpi) and (min-width: 481px),
    screen and (min-resolution: 2dppx) and (min-width: 481px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.8)),
        to(rgba(47, 48, 58, 0.8))
      ),
      url(/Images/hero/768@2x.jpg);
  }
  @media not all,
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 769px),
    screen and (min-resolution: 192dpi) and (min-width: 769px),
    screen and (min-resolution: 2dppx) and (min-width: 769px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.8)),
        to(rgba(47, 48, 58, 0.8))
      ),
      url(/Images/hero/1600@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.8)),
        to(rgba(47, 48, 58, 0.8))
      ),
      url(/Images/hero/768.jpg);
  }
  @media screen and (min-width: 769px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.8)),
        to(rgba(47, 48, 58, 0.8))
      ),
      url(/images/Hero/1600.jpg);
  }
  @media screen and (min-width: 356px) {
    padding-top: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    height: 600px;
  }
}
.hero-text {
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
  }
}
